html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px;
	padding-top: 50px;
	text-align: justify;
}

.theme-showcase .container {
	padding-top: 40px;
	width: auto;
}

.theme {
	padding: 40px 15px;
	text-align: center;
}

.fotter {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
}

.vocabColor
{
	color:red;
	font-style:italic;
	font-style:bold;
}

.captionStyle
{
	color:green;
	font-size:75%;
}


.codeText
{
	font-family:"Lucida Console";
	color:black;
}

.arduinoText
{
	font-family:"Lucida Console";
	color:orange;
}

.commentText
{
	font-family:"Lucida Console";
	color:gray;
}